/*header*/

.header {
    display: inline-flex;
    flex-direction: row;
    background-color: #333;
    width: 100%;
    height: 50px;
}

.logo {
    padding: 2px;
    padding-right: 30px;
}

.header img {
    height: 50px;
    width: auto;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* best movies */

.container {
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.best-movie-content {
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 15px;
}

.btn {
    margin-right: 15px;
    width: 60px;
    height: 24px;
    border: 1px solid black;
    border-radius: 15px;
}

.btn:hover, .btn:focus {
    cursor: pointer;
    background-color: lightgrey;
}

#title-buttons {
    flex-direction: column;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: table; /* to make modal fit the image */
    background-color: #fefefe;
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    width: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.modal-header {
    height: 55px;
    padding: 2px 16px;
    background-color: grey;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 8px 16px;
}

.modal-image {
    height: 100%;
    float: right;
    margin-bottom: 4px;
}

.modal-header h2, .modal-header p {
    margin: 0;
}

.data p {
    display: inline;
    margin-right: 20px;
}

.data-persons, .description{
    width: 80%;
}

/* carousel */

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    padding: 50px;
    background: linear-gradient(10deg, rgba(137,48,24,1) 0%, rgba(14,14,15,1) 51%, rgba(12,78,157,1) 100%);
    line-height: 1.4;
}

.title {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 25px;
}

.item {
    margin: 40px 10px;
    background-color: #000;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
    border-radius: 15px;
}

.item:hover {
    transform: translate3d(0, -10px, 0);
}

.item img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.item__body {
    padding: 5px;
    display: none;
}

.item:hover .item__body {
    display: block;
}

.item:hover img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.item__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item__description {
    color: #585858;
}

.items {
    position: relative;
}

.carousel {
    position: relative;
}

.carousel__item {
    float: left;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
    height: 300px;
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #000 url(../images/next-white.svg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev {
    background-image: url(../images/prev-white.svg);
    right: auto;
    left: -20px;
}

.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0;
    visibility: hidden;
}